TELEGRAM_TOKEN =                                    # Получаем токен для Telegram-бота

# OpenRouter
OPENROUTER_API_KEY =                                # Получаем значение переменной окружения с API-ключом OpenRouter

# Open AI
OPENAI_API_KEY =                                    # Получаем значение переменной окружения с API-ключом OpenAI
ASSISTANT_ID =                                      # Получаем идентификатор ассистента OpenAI

# GigaChat
# <Authorization key GigaChat API>
GIGACHAT_CREDENTIALS =                              # Получаем учетные данные для GigaChat
GIGACHAT_VERIFY_SSL_CERTS=False                     # Отключаем проверку SSL-сертификата (есть какое-то количество попыток, когда можно запросить без сертификата)

# Langfuse
LANGFUSE_HOST =                                     # Получаем адрес или домен сервиса Langfuse
LANGFUSE_SECRET_KEY =                               # Получаем секретный ключ для сервиса Langfuse
LANGFUSE_PUBLIC_KEY =                               # Получаем публичный ключ для сервиса Langfuse
